html, body {
    height: 100%;
    width: 100%;
}

nav img {
    height: 10vh;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

#div1, #div2 {
    padding: 10px;
    margin: 10px;
    flex: 1 1 30%;
    min-width: 250px;
}

#div0 {
    padding: 10px;
    background-color: #e6f1e4;
    border: 1px solid #000;
    margin: 10px;
    flex: 1 1 30%;
    min-width: 250px;
}

#but {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgb(149, 236, 149);
    margin-left: 40px;
}

#result {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

@media (max-width: 1200px) {
    #div0, #div1, #div2 {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    #div0, #div1, #div2 {
        flex: 1 1 100%;
    }
}

#open {
    display: none;
}

#open i {
    background-color: rgb(186, 245, 127);
    font-size: 30px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 6px;
}